<div class="container-fluid" style="height:100vh;background:lightcyan">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" >{{user}}</a>
                <a class="dropdown-item"(click)="logOut()" >LogOut</a>
               
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <router-outlet></router-outlet>
  </div>
